@{
    ViewData["Title"] = "About";
}
    <div class="text-center">
        <h1 class="display-1">ABOUT</h1>
        <div class="justify-content-xl-center"
            <h1 class="display-1">
                WELCOME!<br/>My name is Lucero Toral, I am a Associate Software Engineer at Quicken Loans
                who is currently part of DevBuild(3.0) Cohort. Being a native Detroiter I am honored to be a
                team member for one of the Family of Companies.
            </h1>
        </div>
    </div>

<br /> <br />
       <div class="container" align="center">
           <div class="row">
               <div class="col">
                   <img src="~/detroit.gif" alt="Detroit Skyline" width="700" height="300">
               </div>
               <div class="col" align="center">
                   <div class="text-center">
                       <br /> <br />
                       <h2>Contact Me</h2>
                       <div class="contact-me">
                           <br />
                           <p>Email: <a href="mailto:lucerotoral@quickenloans.com">lucerotoral@quickenloans.com</a>
                           <p>Github: <a href="https://github.com/torallify" target="_blank">https://github.com/torallify</a></p>
                           <p>LinkedIn: <a href="https://www.linkedin.com/in/torallify/" target="_blank">linkedin.com/in/torallify/</a></p>
                       </div>
                   </div>

               </div>
           </div>

