@{
    ViewData["Title"] = "Home Page";
}

    
    <div class="container" align="center">
        <div class="row">
            <div class="col">
                <img src="~/hello.gif" alt="Dog waving hello" width="400" height="500">
            </div>
            <div class="col" align="center">
                <div class="text-center">
                    <br /><br /><br /><br />
                    <div class="justify-content-xl-center"
                    <h1 class="display-1">[torallify]</h1>
                    <h1 class="display-1">Lucero Toral</h1>
                    <br />
                    </div>
                    <h1 class="display-4">DevBuild(3.0) Associate Software Engineer in Training</h1>
                </div>

        </div>
    </div>

    <br /> <br /> <br />

    <div class="text-center">
        

        <p>Follow me on LinkedIn at <a href="https://www.linkedin.com/in/torallify/">linkedin.com/in/torallify/</a></p>
    </div>
