@{
    ViewData["Title"] = "Portfolio";
}
<div class="text-center">
    <h1 class="display-1">PORTFOLIO</h1>
    <br /> <br />
</div>

<h1>Here are some of my favorite projects</h1>
<ul style="list-style-type:square;">
    <li><a href="https://github.com/torallify/TheLipBar" target="_blank">The Lip Bar</a></li>
    <li><a href="https://github.com/torallify/MidtermProject" target="_blank">Grand Chirpus Midterm Project</a></li>
    <li><a href="https://github.com/Madison-Mott/BeerGenius" target="_blank">Beer Genius Final Project</a></li>
</ul>

<br />
<p>Follow me on Github at <a href="https://github.com/torallify">github.com/torallify/</a></p>
